<div class="offcanvas offcanvas-end w-full w-sm-3/4 w-lg-1/3" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="category-create" aria-labelledby="offcanvasExampleLabel" data-controller="categories">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="Label">Categories</h5>
    <button type="button" class="btn-close text-reset text-xs" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pt-0">
    <%= turbo_frame_tag "list-categories" do %>
      <%= render partial: 'products/partials/category_list', locals: { categories: @categories } %>
    <% end %>
  </div>
  <div class="modal-footer bg-surface-secondary">
    <%= turbo_frame_tag "form-category-product" do %>
      <%= render partial: 'products/partials/form_category', locals: { url: categories_path, action: 'create', method: :post, model: Categories::Product.new } %>
    <% end %>
  </div>
</div>