<%= form_with url: '', method: :post do |t| %>
  <button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="offcanvas">Close</button>
  <button type="button" class="btn btn-sm btn-primary">Create</button>
<% end %>