<div class="table-responsive">
    <table class="table table-hover table-nowrap">
        <thead class="thead-light">
            <tr>
                <th scope="col">Invoice</th>
                <th scope="col">Order</th>
                <th scope="col">Client</th>
                <th scope="col">Value</th>
                <th scope="col">Taxes</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">10/01/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00021</span>
                </td>
                <td>
                    <a class="text-current" href="#">Dribbble</a>
                </td>
                <td>
                    $1.274,89
                </td>
                <td>
                    $323,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-success text-success">Success</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">20/01/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00022</span>
                </td>
                <td>
                    <a class="text-current" href="#">Netguru</a>
                </td>
                <td>
                    $2.350,45
                </td>
                <td>
                    $99,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-warning text-warning">Pending</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">03/02/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00023</span>
                </td>
                <td>
                    <a class="text-current" href="#">Figma</a>
                </td>
                <td>
                    $3.029,00
                </td>
                <td>
                    $100,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-success text-success">Success</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">30/05/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00024</span>
                </td>
                <td>
                    <a class="text-current" href="#">Mailchimp</a>
                </td>
                <td>
                    $9.274,89
                </td>
                <td>
                    $523,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-danger text-danger">Declined</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">10/01/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00025</span>
                </td>
                <td>
                    <a class="text-current" href="#">Dribbble</a>
                </td>
                <td>
                    $1.274,89
                </td>
                <td>
                    $323,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-success text-success">Success</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">20/01/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00026</span>
                </td>
                <td>
                    <a class="text-current" href="#">Netguru</a>
                </td>
                <td>
                    $2.350,45
                </td>
                <td>
                    $99,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-warning text-warning">Pending</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">03/02/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00027</span>
                </td>
                <td>
                    <a class="text-current" href="#">Figma</a>
                </td>
                <td>
                    $3.029,00
                </td>
                <td>
                    $100,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-success text-success">Success</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">30/05/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00028</span>
                </td>
                <td>
                    <a class="text-current" href="#">Mailchimp</a>
                </td>
                <td>
                    $9.274,89
                </td>
                <td>
                    $523,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-danger text-danger">Declined</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">10/01/2021</span>
                    <span class="d-block text-xs text-muted">ABC 00029</span>
                </td>
                <td>
                    <a class="text-current" href="#">Dribbble</a>
                </td>
                <td>
                    $1.274,89
                </td>
                <td>
                    $323,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-success text-success">Success</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class="btn d-inline-flex btn-sm btn-neutral rounded-pill">
                        <span class=" pe-2">
                            <i class="bi bi-receipt"></i>
                        </span>
                        <span>Download</span>
                    </a>
                </td>
                <td>
                    <span class="font-semibold">20/01/2021</span>
                    <span class="d-block text-xs text-muted">ABC 000210</span>
                </td>
                <td>
                    <a class="text-current" href="#">Netguru</a>
                </td>
                <td>
                    $2.350,45
                </td>
                <td>
                    $99,00
                </td>
                <td>
                    <span class="badge rounded-pill bg-soft-warning text-warning">Pending</span>
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                                Action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                                Something else here
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>