<ul class="list-inline d-flex justify-content-md-end mb-0">
  <li class="list-inline-item">
    <div class="bg-shade-dark px-4 py-2 rounded">
      <span class="badge text-white ps-0">
        <i class="bi bi-collection me-2 d-none"></i>
        Items
      </span>
      <span class="d-sm-block mt-1 h5 text-white font-bold">
        <span><%= order_total_cart_item(order) %></span>
        <small class="bi bi-arrow-up text-success me-n1 d-none"></small>
      </span>
    </div>
  </li>
  <li class="list-inline-item">
    <div class="bg-shade-dark px-4 py-2 rounded">
      <span class="badge text-white ps-0">
        <i class="bi bi-bag-fill me-2 d-none"></i>Subtotal
      </span>
      <span class="d-sm-block mt-1 h5 text-white font-bold">
        <span class="me-1">&#8369;</span><span><%= @order.subtotal %></span>
      </span>
    </div>
  </li>
  <li class="list-inline-item">
    <div class="bg-shade-dark px-4 py-2 rounded">
      <span class="badge text-white ps-0">
        <i class="bi bi-percent me-2 d-none"></i>Discount
      </span>
      <span class="d-sm-block mt-1 h5 text-success font-bold">
        <%= @order.order_discount %>
      </span>
    </div>
  </li>
</ul>