<%= form_with scope: :attendance, url: stamp_profile_path(id: user.id), method: :post, class: 'mx-auto' do |t| %>
  <div class="rounded px-2 py-2 border bg-white">
    <div class="row">
      <div class="col">
        <%= t.text_field :remarks, class: 'form-control pl-3 shadow-none border', placeholder: 'Note' %>
      </div>
      <div class="col-auto">
        <%= t.button type: 'submit', class: 'btn btn-block btn-dark' do %>
          <% if user.timed_in? %>
            Time out!
          <% else %>
            Time in!
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>