<div class="border border-2 bg-surface-secondary h-full border-dashed rounded d-flex flex-column justify-content-center align-items-center" style="min-height: 400px;">
  <div class="display-4 font-semibold text-muted opacity-50">
      <!-- <i class="bi bi-files-alt"></i> -->
  </div>
</div>