@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134); 
}

.dropdown-menu{
  z-index: 1001;
}

.product-image-preview{
  &:hover{
    .frame-file-upload{
      opacity: 1;
    }
  }
  .frame-file-upload{
    cursor: pointer;
  }
}

.product-card{
  border: 2px solid transparent;
  cursor: pointer;

  &:hover{
    border-color: $primary;
  }
}

.checkout-change-input{
  background-color: transparent !important;
}

#product_type_product:checked + label .box-label,
#product_type_productspackage:checked + label .box-label{
  border-color: $primary;
}
